<h1><%= @user.name %></h1>

<% if @user.admin %>
<h2>ADMIN</h2>
<% end %>

<p>Happiness: <%= @user.happiness %></p>
<p>Nausea: <%= @user.nausea %></p>
<p>Tickets: <%= @user.tickets %></p>
<p>Height: <%= @user.height %></p>
<p>Mood: <%= @user.mood %></p>

<p><%= link_to "Log Out", logout_path %></p>